$secundary-color: #125688;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
	background: #fafafa;
	color: #125688;
	font-family: Montserrat;
}

#main-container{
	margin: 30px auto;
}

.phone {
	max-width: 100%;
}

.site-footer {
	text-transform: uppercase;
	font-size: 12px;
}

.login-box,
.signup-box {
	background-color: white;
	border: 1px solid #edeeee;
	border-radius: 3px;
	padding: 10px 0;
	text-align: center;
}

.signup-box .Inicio {
	color: #009999;
	font-family: Oleo Script;
	font-size: 42PX;
}

.signup-form {
	width: 65%;
	margin: 0 auto;
}

.signup-form h2 {
	color: #a5a7aa;
	font-size: 1.2em;
}

.signup-form .btn.btn-tw {
	background-color: #33ccff;
	font-size: .9em;
}

.signup-form .btn.btn-tw:hover {
	background-color: #2d6599;
} 
.signup-form .btn.btn-signup {
	background-color: #009999; 	
}